{% extends 'layout.html.twig' %}

{% block body %}
<h1>Nouvelle visite pour {{ etudiant.prenom }} {{ etudiant.nom }}</h1>

{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.statut) }}

    <button class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}
