{% extends 'layout.html.twig' %}

{% block body %}
<h1>Modifier la visite</h1>

{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.commentaire) }}
    {{ form_row(form.statut) }}

    <button class="btn btn-primary">Mettre à jour</button>
{{ form_end(form) }}

{% endblock %}
