{% extends 'layout.html.twig' %}

{% block body %}
<h1>Ajouter un étudiant</h1>

<div class="card p-4 shadow-sm">
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.formation) }}

        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
